@*
    Results View
*@
@using cs341.Models
@model cs341.Models.ResultsViewModel

<div id="browse">
    <h1 class="heading">Browse</h1>
    <div class="categoryMenus" id="categoryMenus">
        <h3>Shop by Category:</h3>
        <div class="category">
            <img src="images/Placeholder.png" class="menuImg">
            <span>Catagory Caption</span>
        </div>
    </div>
    <div id="results">
        @foreach (Item item in Model.Items)
        {
            <div class="results-item" onclick="routeToItem(@item.Id)">
                <img class ="results-item-image" src="images/items/@item.ImageLOC">
                <div class="results-item-name">@item.Name</div>
                <div class="results-item-price">
                    <i class="fa fa-dollar-sign"></i>
                    @item.Price
                </div>
            </div>
        }
    </div>
</div>