* {
    padding: 0;
    margin: 0;
}

#categoryMenus > .category {
    border: 1px solid black;
    background-color: gold;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    max-width: 150px;
}

    #categoryMenus > .category > img {
        display: block;
        padding-bottom: 5px;
        max-width: 150px;
        max-height: 400px;
    }

    #categoryMenus > .category > span {
        display: inline-block;
        padding-top: 5px;
        text-align: center;
    }

.dropdownbtn {
    color: black;
    background-color: blue;
    font-size: 30px;
    margin: 3px 3px 3px 3px;
    text-decoration: none;
    font-family: serif;
}

.dropdown-div {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: brown;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdownContent a {
        color: black;
        padding: 12px 16px;
        font-size: 16px;
        text-decoration: none;
        display: block;
    }

        .dropdownContent a:hover {
            background-color: gray;
        }

.dropdown-li:hover .dropdownContent {
    display: block;
}

.drop-down {
    position: absolute;
    background-color: #f9f9f9;
    cursor: pointer;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#footer {
    color: black;
    background-color: red;
    width: 100vw;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.hidden {
    visibility: hidden;
    position: absolute;
    display: none;
}

#homeName {
    text-align: center;
    margin: 10px;
}

#navbar {
    border: 1px solid purple;
    background-color: orchid;
    min-height: 60px;
}

    #navbar img {
        float: left;
        padding: 10px;
        max-height: 40px;
        max-width: 40px;
    }

    #navbar .drop-down li {
        display: block;
    }

    #navbar .dropdownMenu > li:first-of-type {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 7px;
        list-style-type: none;
        display: inline-block;
    }

    #navbar .dropdownMenu > li {
        font-size: 30px;
        margin: 3px 3px 3px 3px;
        list-style-type: none;
        display: inline;
        cursor: pointer;
    }

#navbarUser {
    float: right;
    margin: 10px;
}


.btn-md {
    border: 3px solid black;
    border-radius: 5px;
}


#login-btn:hover{
    cursor: pointer;
    background-color: blue;
}
