@*
    Cart
*@
@using cs341.Structures
@model cs341.Models.CartViewModel

<div id="cart">
    <h1 class="heading">Cart</h1>
    <div id="cart-container">
        @foreach (KeyValuePair<Item, int> pair in Model.User.Cart)
        {
            Item item = pair.Key;
            int quantity = pair.Value;
            <div class="cart-item">
                <div class=cart-item-name>@item.Name</div>
                <input class="cart-item-quantity" type="text" value="@quantity">
                <div class=cart-item-price>@item.Price</div>
                <div class=cart-item-description>@item.Description</div>
            </div>

        }
        <div></div>
    </div>
</div>