@*
    Home
*@
@{
}
<div id="home-dice">
    <i class="fa fa-spin fa-dice"></i>
    <i class="fa fa-spin fa-gamepad"></i>
    <i class="fa fa-spin fa-gavel"></i>
    <i class="fa fa-spin fa-trophy"></i>
    <i class="fa fa-spin fa-chess"></i>
</div>