<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- jquery and ajax (I assume we will be using them) -->
    <script src="js/routes.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1//js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="navbar" class="navbar">
        <div id="home">
            Coffee n' Code Games
            <i class="fa fa-lg fa-dice" onclick"routeHome()"></i>
        </div>
        <div id="navbarBtns">
            <div class="btn" onclick="routeHome()">
                Home
                <i class="fa fa-lg fa-home"></i>
            </div>
            <div class="btn" onclick="routeToResults()">
                Browse 
                <i class="fa fa-lg fa-chess"></i>
            </div>
            <div class="btn" onclick="routeToAdmin()">
                Admin
                <i class="fa fa-lg fa-chess-king"></i>
            </div>
        </div>
        <div id="navbarUser" class="user">
            <span id="username">Guest</span> 
            <i class="fa fa-lg fa-user"></i>
            <div id="login-btn" class="btn" onclick="toggleLogIn()">
                Log In 
                <i class="fa fa-lg fa-sign-in-alt"></i>
            </div>
            <div id="login-content" class="hide">
                <form>
                    <fieldset id="inputs">
                        <input id="usernameInput" type="text" name="Email" placeholder="Username" required>
                        <input id="passwordInput" type="password" name="Password" placeholder="Password" required>
                    </fieldset>
                    <fieldset id="actions">
                        <input type="submit" id="submit" value="Log in" onclick="logIn()">
                    </fieldset>
                </form>
            </div>
            <div id="register-btn" class="btn" onclick="routeToRegister()">
                Register
                <i class="fa fa-lg fa-user-plus"></i>
            </div>
            <div class="btn" onclick="routeToCart()">
                Cart 
                <span class="fa-layers fa-fw">
                    <i class="fa fa-lg fa-shopping-cart"></i>
                    <span id="cart-notify" class="fa-layers-counter hide" style="background:Tomato; font-size:3em">0</span>
                </span>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div id="home-dice">
            <i class="fa fa-spin fa-dice"></i>
            <i class="fa fa-spin fa-gamepad"></i>
            <i class="fa fa-spin fa-gavel"></i>
            <i class="fa fa-spin fa-trophy"></i>
            <i class="fa fa-spin fa-chess"></i>
        </div>
    </div>
    <div id="footer" class="footer">
        <span class="teamName">&copy; Code in the front, Coffee in the back</span>
    </div>
</body>
</html>
