<div>
  <div>
    <h1>Software for Online Shopping cart</h1>
    <h2>User Manual</h2>
    <h2>Developed by:</h2>
    <h2>Evan Kirsch</h2>
    <h2>Manning Meindel</h2>
    <h2>Kevin Minter</h2>
    <h2>Christian Strauss</h2>
    <h1>Table of Contents</h1>
  </div>
  <div>
    <ul>
      <li>
        Introduction
        <ul>
          <li>System Requirements</li>
          <li>Installation</li>
        </ul>
      </li>

      <li>
        Getting Started
      </li>
      <li>
        Cart Operations
        <ul>
          <li>Add to Cart</li>
          <li>Remove From Cart</li>
          <li>Apply Promotion</li>
        </ul>
      </li>
      <li>
        Browsing Operations
        <ul>
          <li>Search</li>
          <li>Promotions</li>
        </ul>
      </li>
      <li>
        User Operations
        <li>Login</li>
        <li>Logout</li>
        <li>Register</li>
      </li>
    </ul>
  </div>
  <div>
    <h1>Introduction</h1>
      <p>
        This user manual describes how to use the web-page for the online shopping cart
        company Coffee and Code Board Games. This product is an online shopping cart. The
        user is able to create accounts and browse for board games. If they choose they can
        create an account. If they create an an account we will be able to store their shopping
        and the user will be able to retrieve it if they log back into their accounts. In
        addition users will be able to browse the promotions available to them if they order
        certain board games.
      </p>
    <h2>System Requirements</h2>
      <p>
        Users need to use Google Chrome 71.0.3578.XX, Chromium 1.0.154.XX, or Firefox 63.0.X
      </p>
    <h2>Installation</h2>
      <p>
        Users need to install a web browser listed in the system requirements section
      </p>
  </div>
  <div>
    <h1>Getting Started</h1>
      <p>
        The web page main functionality is being able to browse and buy board games. Users
        will be able to do this as either a guest or as a registered user. Users will be automatically
        logged in as guests.
        <br>
        Upon landing on the web page the user will be greeted by our iconic spinning icons. From here they are
        able to choose seven different options.
        <ul>
          <li><b>Home</b> - Clicking this will take you back to our iconic spinning icons. users can navigate here if they wish to return to the homepage or simply want to be inspired by the spinning icons. This is the page for you if you like spinning icons.</li>
          <li><b>Manual</b> - Clicking this will take you to this page. It is very helpful to read this page, especially if you don't know how to use a web page. Using a web page is quite complicated and it is very important that users read this page before using the web page because of its overwhelming complexity</li>
          <li><b>Promotions</b> - Clicking this will take you to our promotions page. From here you will be able to view all of our amazing promotions. This is the best page if you are looking to save money or are on a budget.</li>
          <li><b>Browse</b> - Clicking this will take you to browse plethora of board games ranging from Risk to Tragedy Looper. A different experience for everyone! You will be sure to find classics as well as hidden treasures!</li>
          <li><b>Log In</b> - Clicking this will create a drop down menu with three options: username, password and submit. You should put your username in username, password in password and then click the submit button. This will log you into your account: given you have already created one.</li>
          <li><b>Register</b> - Clicking this will take you to our register page.this page has three options: username, password and register. This is quite a bit more complicated than logging in as the requested information is not detailed in the box. To register the user needs to enter the information in the corresponding boxes and then click register.</li>
          <li><b>Cart</b> - Clicking this will take you to your cart. If you have added items to the cart they will show up here. If you have not added any items to the cart you will be greeted by a lovely message. Be careful: if you browse as a guest and navigate away from the page, when you return your items will not be in the cart.</li>
        </ul>
      </p>
  </div>
</div>
