@*
   Register User
*@
@{
}
<div id="register">
    <h1 class="heading">Register</h1>
    <div id="register-user">
        Username
        <input id="username-input" type="text" value="Enter Username">
        Password
        <input type="text" value="Enter Password">
        Email
        <input type="text" value="Enter Email">
        <input type="submit" value="Register!" onclick="registerUser()">
    </div>
</div>