@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="register">
    <h1 class="heading">Register</h1>
    <form action="\Home\RegisterUser" method="GET">
        Username
        <input type="text" placeholder="Enter Username">
        Password
        <input type="password" placeholder="Enter Password">
        Email
        <input type="text" placeholder="Enter Email">
        <input type="submit" value="Register!">
    </form>
</div>